.container{
    text-align: center;
    .title{
        margin: 1rem auto;
    }

    .detalles-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .btn-container{
        display: flex;
        justify-content: end;
        padding: 0.5rem 1rem;
    }
}
