<mat-card class="plato-card">
    <mat-card-header class="card-header">
        <mat-card-title>{{plato.title}}</mat-card-title>
        <mat-card-subtitle>Precio: $ {{plato.pricePerServing}}</mat-card-subtitle>
      </mat-card-header >
      <div class="card-img">
      <img mat-card-sm-image src={{plato.image}} >
    </div>
      <mat-card-content>
        <p>Health Score: {{plato.healthScore}}</p>
        <p>Tiempo de espera: {{plato.readyInMinutes}}</p>
        <h5 *ngIf="plato.vegan">Vegan</h5>
      </mat-card-content>
    <mat-card-actions class="c-actions" align="end">
        <button mat-button (click)="verDetalles()">Detalles</button>
        <button mat-button (click)="quitarPlatoMenu()">Eliminar</button>
        <button mat-button (click)="addPlatoMenu()">Agregar</button>
    </mat-card-actions>
    <mat-card-content *ngIf="detalles">
      {{plato.summary}}
    </mat-card-content>
</mat-card>
