.plato-card{  
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 0.5rem ;

    .card-header{
        padding: 0.5rem;
        width: 100%;

    }

    .card-img{
        text-align: center;
        width: 40%;
    }
    .c-actions{
        width: 100%;
 
    }

}