<div class="container">
    <form [formGroup]="searchForm" class="search-form">
        <div class="form-container">
    <mat-form-field appearance="fill" class="search" >
        <mat-label>Buscar Plato</mat-label>
        <input matInput value="" autocomplete="off" formControlName="searchInput" (keyup)="parcialSearch(searchInput.value)">
      </mat-form-field>
    </div>
    </form>
        <div class="grid-container">
        <mat-grid-list cols="1" rowHeight="15rem" gutterSize="1rem">
            <mat-grid-tile class="g-tile" *ngFor="let plato of platos">
                <app-plato [plato] = "plato">
                </app-plato>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>
